.sidebar {
  height: 789px;
  padding: 4rem 2rem;
  background-color: lightcoral;
  border: 0.1px solid transparent;

  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 1rem;
    font-size: 1.2rem;
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center;

    span {
      margin-left: 1rem;
    }
  }
}

.navStyle {
  text-decoration: none;
  color: black;

  &:hover {
    color: white;
  }
}

.partition {
  height: 15px;
}
