.actor {
  width: 98.5%;
  background-color: rgb(174, 198, 226);
  padding: 50px 20px;
  border: 0.1px solid transparent;

  span {
    font-size: 1rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.addActor {
  background-color: rgb(174, 198, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  background-color: rgb(103, 140, 184);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 3rem 1rem;
}

.fieldItem {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 1rem;

  button {
    height: 40px;
    cursor: pointer;
  }
}

.radioItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input[type="radio"] {
    cursor: pointer;
  }

  label {
    margin-right: 1rem;
  }
}
